// Lesson 15 => Conditionals =>@if Rule

@mixin section($size) {
	width: $size;
	height: $size;

	@if $size < 200px {
		background-color: color(color-primary);
	} @else if $size == 250px {
		background-color: color(color-secondary);
	} @else {
		background-color: green;
	}
}

@mixin body($size) {
	width: $size;

	@if $size < 500px {
		background-color: black;
	} @else if $size <= 550px {
		background-color: red;
	} @else {
		background-color: greenyellow;
	}
}

body {
	@include body(400px);
}

section {
	@include section(250px);
}