// body {
// 	background-color: red;
// }

// Lesson 1 - 3 
/* 
Sass Setup using NPM through node-sass
*/

// Difference Between .scss file
/* 
.sass
// Indented SyntaxS
*/
// h1 {
// 	color: red;
// }

// h2 {
// 	color: blue;
// 	line-height: 30px;
// }

// CSS Variables
// html {
// 	--color-primary: yellowgreen;
// }

// body {
// 	background-color: var(--color-primary);
// }

// Sass Variables
// $color-primary: rgb(226, 157, 67);

// // // ****************** END *******************

// body {
// 	background-color: $color-primary;
// }

/*
Sass Maps => object => key-value pairs
*/
$colors: (
	"color-primary": #303960,
	"color-secondary": #ea9a96,
	"color-tertiary": #f8b24f,
	"color-white": #fff,
);

body {
	background-color: $color-secondary;
}

section { 
	background-color: map-get();
}

h2 {
	color: $color-tertiary;
}

p {
	color: $color-white;
}